@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appbar {
  box-shadow: 2px 5px 30px rgba(179, 186, 204, 0.4);
}
/* .title {
  font-family: 'Indie Flower';
} */

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.bg-header {
  position: relative;
  background-color: rgba(37, 39, 53, 0.);
  width: 100vw;
  box-shadow: 0px 10px 20px rgb(21, 23, 36);
  /* color: rgb(150, 145, 134); */
}

.bg-img-header {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.circles{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 80px;
  height: 80px;
  /* background: rgba(37, 39, 53, 0.2); */
  font-size: 25px;
  animation: animate 25s linear infinite;
  bottom: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252735;
}

.circles li:nth-child(1){
  left: 25%;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11){
  left: 45%;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(12){
  left: 75%;
  animation-delay: 0s;
  animation-duration: 11s;
}

.area {
  z-index: -1;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.about {
  position: relative;
  background-color: rgba(37, 39, 53, 0.8);
}

.about-bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project-card {
	background-color: rgba(245, 245, 245, 0.44);
	border-radius: 12px;
	box-shadow: 2px 5px 30px rgba(179, 186, 204, 0.4);
  max-width: 900px;
  width: 900px;
}

